.contact {
  margin-left: auto;
  margin-right: auto;
  padding: 0.01em 16px;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width:800px;
}

.contact__title {
  letter-spacing: 4px;
}

.contact__subtitle {
  opacity: 0.80;
}

.contact__box {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact__box-inform {
  float: left;
  width: 100%;
  margin-bottom: 16px;
  font-size: 18px;
}

.contact__box-inform_icon {
  padding-right: 10px;
}

.contact__box-dispatch {
  float: left;
  width: 100%;
}

.contact__form-half {
  float: left;
  width: 100%;
  padding: 0 8px;
}

@media (min-width: 601px) {
  .contact__box-inform, .contact__box-dispatch {
    width: 49.99999%;
  }

  .contact__form-half {
    width: 49.99999% !important;
}
}

.contact__form-first-line {
  box-sizing: border-box;
  padding: 0 8px;
  margin: 0 -16px 8px -16px;
}

.contact__form-name, .contact__form-email, .contact__form-message {
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  border: 1px solid #ccc;
}

.contact__form-submit {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  margin-top: 16px;
  margin-bottom: 16px;
  float: right;
  color: #fff;
  background-color: #333;
}