.footer {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  color: #333;
  background-color: #f1f1f1;
}

.footer__social-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__social-list__item {
  padding: 0px 10px;
}

.footer__author-link {
  color: #333;
}