.menu {
  top: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.menu-black {
  color: #fff!important;
  background-color: #000!important;
}

.menu-gray {
  color: #fff!important;
  background-color: #333!important;
}

.menu__item {
  padding: 14px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  /* padding: 12px 24px!important; */
}

.menu__button {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  border: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  /* white-space: nowrap; */
  padding: 14px 16px;
}

.menu__button:hover {
    color: #000!important;
    background-color: #ccc!important;
}

.menu .menu__dropdown {
  display: inline-block;
}

.menu__dropdown:hover .menu__dropdown-button {
  color: #000!important;
  background-color: #ccc!important;
}

.menu__dropdown-button {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu__dropdown-button:after {
  content: '▼';
}

.menu__dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu__dropdown-content .menu__button {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu__dropdown-content .menu__button:hover {
  background-color: #f1f1f1;
}

.menu__dropdown:hover .menu__dropdown-content {
  display: block;
}

.menu__button-right {
  float: right;
}

.menu__button-right:hover {
  color: #fff!important;
  background-color: #f44336!important;
}