.slider {
  background-color: black;
  margin-top: 45px;
  text-align: center;
}

.slider__fade {
  position: relative;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider__image {
  border-style: none;
  vertical-align: middle;
  width: 100%;
}

.slider__text-container {
  padding: 0.01em 16px;
  padding-top: 32px!important;
  padding-bottom: 32px!important;
}

.slider__text-bm {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%,0%);
}

/* Animation */
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}